# App
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@localhost:10012/<DB_NAME>?schema=public

# Ethereum RPC
RPC_URL=https://mainnet.infura.io/v3/YOUR_API_KEY
CHAIN_ID=1
START_BLOCK=0
POLL_INTERVAL_MS=5000
